<form [formGroup]="usuarioForm" class="form-usuarios" ngNativeValidate (submit)="cadastrar()">
    <h2>Cadastrar Usuário</h2>

    <label class="form__label-usuarios">Nome</label>
    <input type="text" name="nomeUsuario" required minlength="3" formControlName="nomeUsuario" class="form-control" placeholder="Nome">
    
    <label class="form__label-usuarios">Email</label>
    <input type="email" name="emailUsuario" required formControlName="emailUsuario" class="form-control" placeholder="exemplo@email.com">
    
    <label class="form__label-usuarios">Estado</label>
    <select class="form-select" name="estadoSelecionado" required formControlName="estadoSelecionado" (change)="updateMunicipios()">
        <option *ngFor="let e of estados" value="{{e.id}}">{{e.nome}}</option>
    </select>
    
    <label class="form__label-usuarios">Cidade</label>
    <select class="form-select" name="municipioSelecionado" required formControlName="municipioSelecionado">
        <option *ngFor="let m of cidadesEstadoSelecionado" value="{{m.id}}">{{m.nome}}</option>
    </select>

    <label class="form__label-usuarios">Telefone</label>
    <input type="text" minlength="12" mask="(00) 00000-0000" required name="telUsuario" formControlName="telUsuario" class="form-control" placeholder="(47) 91234-1234">
    
    <button class="btn btn-outline-primary">Cadastrar!</button>
</form>
