.form-usuarios {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    text-align: center;
    gap: 15px;
    width: 90vw;
    max-width: 360px;
}

.form__label-usuarios {
    text-align: left;
}